{% extends "package/view_edit_base.html" %}


{% block view_form_filters %}
    {{super()}}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- <link rel="stylesheet" id="theme-link" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" id="iconlib-link" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.css"> -->
  <!-- JSON EDITOR
  <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/nonmin/jsoneditor.js"></script>
  -->
  <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<!-- Markdown -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <!-- <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script> -->

  <!-- Color -->
  <script src="https://unpkg.com/vanilla-picker@2"></script>
<!-- <link
  rel="stylesheet"
  href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"
/> -->
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/ace.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/mode-markdown.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/mode-javascript.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/mode-json.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/mode-css.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/ext-beautify.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.1.0/ajv7.min.js" integrity="sha512-iG/rBFw+Q1mlDQt15pw86zil1/1JeeNoJ1Grux8zZgvIBLDDnRLdA8UaIosHohzrqBEXA2+hIQV7DXnYGYGX/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.6.1/ajv7.bundle.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.6.1/ajv2019.bundle.js" integrity="sha512-Mq2wC2GXCccbuTIXhwJyYkX3aaMsxu/6g5+/xf9FwMaHG/duZ6gIAAy3mqwTc02YkBeJpjc/mgm2ubWPCNsrFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.6.0/ajv7.bundle.js" integrity="sha512-PHnNDM24Rvs1spsY0mcNJsLkILQ+06jXchdXjivwMd7IwNRekhsrsh6DoDmomuU1uyD0QnwOoEaQ0QUUdocc8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/6.12.6/ajv.bundle.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.6.0/ajv7.bundle.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.1.0/ajv7.bundle.js" integrity="sha512-PuzkO+wOBh6m/Jux4nXgl2ItRzed77lFDidDX500DUNlvuzr4OrXtsFhN4q0CCxPoXjTFfiw1z4FmED9J/MMdQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- WYSIWYG html -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.4.25/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.4.25/jodit.min.js"></script>

    <!-- autocomplete -->
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>

 <script type="text/javascript">

    function copy(self, event, text) {
        event.preventDefault();
        var tmp = document.createElement("textarea");
        tmp.value = text;
        tmp.style.height = "0";
        tmp.style.overflow = "hidden";
        tmp.style.position = "fixed";
        document.body.appendChild(tmp);
        tmp.focus();
        tmp.select();
        document.execCommand("copy");
        document.body.removeChild(tmp);
    }
 </script>
{% endblock %}


{% block page %}

    {% block form %}
        <div id="terria-config-form" data-module="terriajs" data-module-package="{{ h.dump_json(package) }}"
                data-module-resource-view="{{ h.dump_json(resource_view) }}" data-module-config-view="{{ h.dump_json(config_view) }}"
                data-module-resource="{{ h.dump_json(resource) }}" data-module-ckan-url="{{ h.url_for('/',_external=True) }}"/>
        <input id="terriajs_config" type="hidden" name="terriajs_config" value="" />
        <p>
            <table class="table table-condensed table-responsive">
                <tr class="row">
                    <th class="col-md-2"><label for="terriajs_type">{{_('View Type')}}</label></th>
                    <th class="col-md-10"><label for="terriajs_view_camera">Camera</label></th>
                </tr>
                <tr class="row">
                    <td>
                        <!-- LOWERING THE FORMAT IS VERY IMPORTANT HERE -->
                        <input id="terriajs_type" readonly="true" style="border-width:0px" name="terriajs_type" value="{{resource['format'].lower()}}" />
                    </td>
                    <td>
                        <label for="north">{{_('North')}}</label><input id="north" step="0.001" name="north" type="number" min="-90" max="90" value="{{resource_view['north']}}" />
                        <label for="east">{{_('East')}}</label><input id="east" step="0.001" name="east" type="number" min="-180" max="180" value="{{resource_view['east']}}" />
                        <label for="south">{{_('South')}}</label><input id="south" step="0.001" name="south" type="number" min="-90" max="90" value="{{resource_view['south']}}" />
                        <label for="west">{{_('West')}}</label><input id="west" step="0.001" name="west" type="number" min="-180" max="180" value="{{resource_view['west']}}" />
                    </td>
                </tr>
            </table>
        </p>
    {% endblock %}
    <p>

        <div style="display: inline-block;">
            <button class="btn btn-primary" type="button"  data-toggle="collapse" 
                title="{{_('Shows a table with copy to clipboard buttons for a fast usage of available informations from the dataset and resources')}}"
                data-target="#helperTable" >{{_('Tools')}}</button>
            <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Click to open the model used by this configuration"
                href="{{h.url_for('terriajs.model', resource_id=resource.id, dataset_id=package.id, _external=True)}}" target="_blank">
                Model
            </a>
            {% if resource_view.id %}
            <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Click to open the link to this configuration"
                    href="{{h.url_for('terriajs.config', resource_view_id=resource_view.id, _external=True)}}" target="_blank">
                Resulting endpoint
            </a>
            {% endif %}
        </div>
    </p>
    <div id="helperTable" class="collapse">
        <table class="table card card-body" style="width:100%">
            <tr>
                <b style="border-bottom: 1px solid gray;">Dataset:</b>
            </tr>
            <tr scope="row">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">URL</th>
            </tr>
            <tr scope="row">
                <td class="col">
                    <button class="btn btn-secondary" onclick="copy(this, event, '{{package.id}}')" data-toggle="tooltip" data-placement="bottom" title="{{package.id}}">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                        <b id="package-id">Dataset ID</b></button>
                    </button>
                </td>
                <td class="col">
                    {% if package.name %}
                        <button class="btn btn-secondary" onclick="copy(this, event, '{{package.name}}')" data-toggle="tooltip" data-placement="bottom" title="{{package.name}}">
                            <span style="display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100px;"><i class="fa fa-clipboard" aria-hidden="true"></i> {{package.name}}</span>
                        </button>
                    {% endif %}
                </td>
                <td class="col">
                    {% if package.notes %}
                        <button class="btn btn-secondary" onclick="copy(this, event, '{{package.notes}}')" data-toggle="tooltip" data-placement="bottom" title="{{package.notes}}">
                            <span style="display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100px;"><i class="fa fa-clipboard" aria-hidden="true"></i> {{package.notes}}</span>
                        </button>
                    {% endif %}
                </td>
                <td class="col">
                    <button class="btn btn-secondary"
                            onclick="copy(this, event, '{{package.url}}')"
                            data-toggle="tooltip" data-placement="bottom" title="{{package.url}}">
                        <i class="fa fa-clipboard" aria-hidden="true"></i> URL
                    </button>
                </td>
            </tr>
        </table>
        <table class="table" style="width:100%">
            <tr>
                <b style="border-bottom: 1px solid gray;">Resources:</b>
            </tr>
            <tr scope="row">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">URL</th>
            </tr>
            {% for r in package.resources %}
                <tr scope="row">
                    <td class="col">
                        <button class="btn btn-secondary" onclick="copy(this, event, '{{r.id}}')" data-toggle="tooltip" data-placement="bottom" title="{{r.id}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            {% if resource.id == r.id %}
                                <b id="resource-id">This resource ID</b>
                            {% else %}
                                <span>Resource ID</span>
                            {% endif %}
                        </button>
                    </td>
                    <td class="col">
                        {% if r.name %}
                            <button class="btn btn-secondary" onclick="copy(this, event, '{{r.name}}')" data-toggle="tooltip" data-placement="bottom" title="{{r.name}}">
                                <span style="display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100px;"><i class="fa fa-clipboard" aria-hidden="true"></i> {{r.name}}</span>
                            </button>
                        {% endif %}
                    </td>
                    <td class="col">
                        {% if r.description %}
                            <button class="btn btn-secondary" onclick="copy(this, event, '{{r.description}}')" data-toggle="tooltip" data-placement="bottom" title="{{r.description}}">
                                <span style="display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100px;"><i class="fa fa-clipboard" aria-hidden="true"></i> {{r.description}}</span>
                            </button>
                        {% endif %}
                    </td>
                    <td class="col">
                        {% if r.url %}
                            <button class="btn btn-secondary" onclick="copy(this, event, '{{r.url}}')" data-toggle="tooltip" data-placement="bottom" title="{{r.url}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i> URL
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="editor">
            <p>
                <div style="display: inline-block;">
                    <button class="btn btn-primary" id="editor-editor" onclick="javascript:terriajs.wrap(terriajs.getEditorAce);">Editor</button>
                    <button class="btn btn-primary" id="editor-howto" onclick="javascript:terriajs.wrap(terriajs.getEditor);">HowTo</button>
                    <button class="btn btn-primary" id="editor-toggle" onclick="javascript:terriajs.wrap(terriajs.editorToggle);"></button>
                    {#<button class="btn btn-primary" id="editor-preview" onclick="javascript:terriajs.wrap(terriajs.preview);">Preview</button>#}
                    
                    
                </div>
            </p>
            <!-- <p style="border: 2px solid gray;" id="editor-terriajs-config"> -->
            <div id="editor-terriajs-config">
                {% resource 'ckanext-terriajs/main' %}
            </div>
            <p>
                <div style="border-bottom: 1px solid gray;">
                    Status: <b style="display: inline;" id="editor-status-holder"></b>    Validation: <div style="display: inline;" id="editor-error-holder"></div>
                </div>
            </p>
    </div>
{% endblock %}



